<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<!--<description>Shiro Configuration</description>

    &lt;!&ndash; 加载配置属性文件 &ndash;&gt;
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:config.properties" />
	
	&lt;!&ndash; Shiro权限过滤过滤器定义 &ndash;&gt;
	<bean name="shiroFilterChainDefinitions" class="java.lang.String">
		<constructor-arg>
			<value>
				/static/** = anon
				${wwwPath}/login = authc
				${wwwPath}/logout = logout
				${wwwPath}/servlet/validateCodeServlet = anon
				${wwwPath}/** = user
				&lt;!&ndash; /act/rest/service/editor/** = perms[act:model:edit]
				/act/rest/service/model/** = perms[act:model:edit]
				/act/rest/service/** = user
				/ReportServer/** = user &ndash;&gt;
			</value>
		</constructor-arg>
	</bean>
	
	&lt;!&ndash; 安全认证过滤器 &ndash;&gt;
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />&lt;!&ndash;
		<property name="loginUrl" value="${cas.server.url}?service=${cas.project.url}${wwwPath}/cas" /> &ndash;&gt;
		<property name="loginUrl" value="${wwwPath}/login" />
		<property name="successUrl" value="${wwwPath}?login" />
		<property name="filters">
            <map>
                <entry key="cas" value-ref="casFilter"/>
                <entry key="authc" value-ref="formAuthenticationFilter"/>
            </map>
        </property>
		<property name="filterChainDefinitions">
			<ref bean="shiroFilterChainDefinitions"/>
		</property>
	</bean>
	
	&lt;!&ndash; CAS认证过滤器 &ndash;&gt;
	<bean id="casFilter" class="org.apache.shiro.cas.CasFilter">  
		<property name="failureUrl" value="${wwwPath}/login"/>
	</bean>
	
	&lt;!&ndash; 定义Shiro安全管理配置 &ndash;&gt;
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="systemAuthorizingRealm" />
		<property name="sessionManager" ref="sessionManager" />
		<property name="cacheManager" ref="shiroCacheManager" />
	</bean>
	
	&lt;!&ndash; 自定义会话管理配置 &ndash;&gt;
	<bean id="sessionManager" class="cn.com.yintongkaxinyue.amlrs.base.security.shiro.session.SessionManager"> 
		<property name="sessionDAO" ref="sessionDAO"/>
		
		&lt;!&ndash; 会话超时时间，单位：毫秒  &ndash;&gt;
		<property name="globalSessionTimeout" value="${session.sessionTimeout}"/>
		
		&lt;!&ndash; 定时清理失效会话, 清理用户直接关闭浏览器造成的孤立会话   &ndash;&gt;
		<property name="sessionValidationInterval" value="${session.sessionTimeoutClean}"/>
		&lt;!&ndash; <property name="sessionValidationSchedulerEnabled" value="false"/> &ndash;&gt;
 		<property name="sessionValidationSchedulerEnabled" value="true"/>
 		
		<property name="sessionIdCookie" ref="sessionIdCookie"/>
		<property name="sessionIdCookieEnabled" value="true"/>
	</bean>
	
	&lt;!&ndash; 指定本系统SESSIONID, 默认为: JSESSIONID 问题: 与SERVLET容器名冲突, 如JETTY, TOMCAT 等默认JSESSIONID,
		当跳出SHIRO SERVLET时如ERROR-PAGE容器会为JSESSIONID重新分配值导致登录会话丢失! &ndash;&gt;
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg name="name" value="jeesite.session.id"/>
	</bean>

	&lt;!&ndash; 自定义Session存储容器 &ndash;&gt;
		&lt;!&ndash; <bean id="sessionDAO" class="cn.com.yintongkaxinyue.amlrs.base.security.shiro.session.JedisSessionDAO">
			<property name="sessionIdGenerator" ref="idGen" />
			<property name="sessionKeyPrefix" value="${redis.keyPrefix}_session_" />
		</bean> &ndash;&gt;
	<bean id="sessionDAO" class="cn.com.yintongkaxinyue.amlrs.base.security.shiro.session.CacheSessionDAO">
		<property name="sessionIdGenerator" ref="idGen" />
		<property name="activeSessionsCacheName" value="activeSessionsCache" />
		<property name="cacheManager" ref="shiroCacheManager" />
	</bean>
	
	&lt;!&ndash; 定义授权缓存管理器 &ndash;&gt;
    &lt;!&ndash; 	<bean id="shiroCacheManager" class="com.soudaila.admin.common.security.shiro.cache.SessionCacheManager" /> &ndash;&gt;
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	&lt;!&ndash; 保证实现了Shiro内部lifecycle函数的bean执行 &ndash;&gt;
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	&lt;!&ndash; AOP式方法级权限检查  &ndash;&gt;
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>-->
</beans>