<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context" 
  xsi:schemaLocation="http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd    
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/cache/spring-tx.xsd"
   default-lazy-init="true">
    
	<description>Jedis Configuration</description>
	
	<!-- turn on declarative caching -->
   <!--<cache:annotation-driven />-->

    <!-- 加载配置属性文件 -->
	<!--<context:property-placeholder ignore-unresolvable="true" location="classpath*:config.properties" />
	
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${redis.maxTotal}" /> &lt;!&ndash; 最大分配的对象数 &ndash;&gt;
        <property name="maxIdle" value="${redis.maxIdle}" /> &lt;!&ndash; 最大能够保持idel状态的对象数  &ndash;&gt;
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
		<property name="testOnBorrow" value="${redis.testOnBorrow}" /> &lt;!&ndash; 当调用borrow Object方法时，是否进行有效性检查 &ndash;&gt;
        <property name="testOnReturn" value="${redis.testOnReturn}"/>
	</bean>-->

    <!-- jedis 方式， JedisUtil 来使用 -->
    <!--<bean id="jedisSentinelPool" class="redis.clients.jedis.JedisSentinelPool">
        <constructor-arg index="0" value="mymaster" />
        <constructor-arg index="1">
            <set>
                <value>${redis.sentine1.url}</value>
                <value>${redis.sentine2.url}</value>
                <value>${redis.sentine3.url}</value>
            </set>
        </constructor-arg>
        <constructor-arg index="2" ref="jedisPoolConfig" />
    </bean>-->









</beans>