<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间 是必须的 -->
<mapper namespace="com.honeywen.credit.repository.card.query.CardQueryMapper">

    <sql id="cardColumns">
        t.id,
        t.name,
        t.card_no,
        t.bank_id,
        t.card_type,
        t.card_limit,
        t.bill_day,
        t.repay_day_type,
        t.repay_day_num,
        t.status,
        t.create_by,
        t.create_at,
        t.update_by,
        t.update_at,
        t.delete_flag
    </sql>

    <select id="findAll" resultType="com.honeywen.credit.model.card.Card">
        SELECT
        <include refid="cardColumns"/>
         FROM t_card t
    </select>

</mapper>