<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>公共素材</title>
    <link href="/static/resources/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/select2/css/select2.min.css" rel="stylesheet"/>

    <link href="/static/resources/css/common.css" rel="stylesheet"/>
	<link href="/static/resources/css/admin.css" rel="stylesheet"/>
	<link href="/static/resources/plugins/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet"/>
</head>
<body>
<div id="main">
    <div id="calendar" style="overflow: auto;"></div>

</div>

<script src="/static/resources/plugins/jquery.1.12.4.min.js"></script>
<script src="/static/resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="/static/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/static/resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/resources/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/static/resources/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/static/resources/plugins/select2/js/select2.min.js"></script>
<script src="/static/resources/plugins/moment.min.js"></script>
<script src="/static/resources/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>
<script src="/static/resources/plugins/fullcalendar-3.9.0/locale-all.js"></script>
<script src="/static/resources/js/common.js"></script>

<script src="/static/modules/card-overview.js"></script>
</body>
</html>