<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>通用增删改查</title>

	<link href="/static/resources/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
	<link href="/static/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="/static/resources/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
	<link href="/static/resources/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
	<link href="/static/resources/plugins/select2/css/select2.min.css" rel="stylesheet"/>

	<link href="/static/resources/css/common.css" rel="stylesheet"/>
</head>
<body>
<div id="main">
	<div id="toolbar">
		<a class="waves-effect waves-button" href="javascript:;" onclick="createAction()"><i class="zmdi zmdi-plus"></i> 新增用户</a>
		<a class="waves-effect waves-button" href="javascript:;" onclick="updateAction()"><i class="zmdi zmdi-edit"></i> 编辑用户</a>
		<a class="waves-effect waves-button" href="javascript:;" onclick="deleteAction()"><i class="zmdi zmdi-close"></i> 删除用户</a>
	</div>
	<table id="table"></table>
</div>
<!-- 新增 -->
<div id="createDialog" class="crudDialog" hidden>
	<form id="createForm" action="/card/save" method="post">
		<div class="form-group">
			<label for="input1">卡片名称</label>
			<input id="input1" name="name" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="input4">额度</label>
			<input id="input4" name="cardLimit" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="input5">账单日</label>
			<input id="input5" name="billDay" type="text" class="form-control">
		</div>


		<label class="radio-inline">
			<input type="radio" name="repayDayType" checked="checked" id="inlineRadio1" value="1"> 固定还款日
			<input id="input6" type="text" name="repayDayNum" style="width: 70px;">
		</label>
		<label class="radio-inline">
			<input type="radio" name="repayDayType" id="inlineRadio2" value="2"> 账单日后 n 天
            <input type="text" name="repayDayNum" style="width: 70px;">
		</label>
	</form>
</div>
<script src="/static/resources/plugins/jquery.1.12.4.min.js"></script>
<script src="/static/resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="/static/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/static/resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/resources/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/static/resources/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/static/resources/plugins/select2/js/select2.min.js"></script>
<script src="/static/resources/plugins/moment.min.js"></script>

<script src="/static/resources/js/common.js"></script>
<script src="/static/modules/card-index.js"></script>
</body>
</html>