<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>公共素材</title>
    <link href="/static/resources/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
    <link href="/static/resources/plugins/select2/css/select2.min.css" rel="stylesheet"/>

    <link href="/static/resources/css/common.css" rel="stylesheet"/>
	<link href="/static/resources/css/admin.css" rel="stylesheet"/>
</head>
<body>
公共素材 plan index

<div class="content">
    <table id="table"></table>

</div>

<script src="/static/resources/plugins/jquery.1.12.4.min.js"></script>
<script src="/static/resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="/static/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/static/resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/resources/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/static/resources/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/static/resources/plugins/select2/js/select2.min.js"></script>
<script src="/static/resources/plugins/moment.min.js"></script>
<script src="/static/resources/js/common.js"></script>
<script type="text/javascript">

    const $table = $("#table");

    $table.bootstrapTable({
        // url: '/static/resources/data/data1.json',
        url: '/card/list',
        height: getHeight(),
        striped: true,
        search: true,
        searchOnEnterKey: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        minimumCountColumns: 2,
        showPaginationSwitch: true,
        clickToSelect: true,
        detailView: true,
        detailFormatter: 'detailFormatter',
        pagination: true,
        paginationLoop: false,
        classes: 'table table-hover table-no-bordered',
        //sidePagination: 'server',
        //silentSort: false,
        smartDisplay: false,
        idField: 'id',
        sortName: 'id',
        sortOrder: 'desc',
        escape: true,
        maintainSelected: true,
        toolbar: '#toolbar',
        columns: [
            {field: 'state', checkbox: true},
            {field: 'id', title: '编号', sortable: true, halign: 'center', visible: false},
            {field: 'name', title: '卡片名称', sortable: true, halign: 'center'},
            {field: 'cardNo', title: '卡号', sortable: true, halign: 'center'},
            {field: 'bankId', title: '所属银行', sortable: true, halign: 'center'},
            {field: 'cardType', title: '卡片类型', sortable: true, halign: 'center', visible: false},
            {field: 'cardLimit', title: '额度', sortable: true, halign: 'center'},
            {field: 'billDay', title: '账单日', sortable: true, halign: 'center'},
            {field: 'repayDayType', title: '还款日类型', sortable: true, halign: 'center'},
            {field: 'repayDayNum', title: '款款日记数', sortable: true, halign: 'center'},
            {field: 'status', title: '状态', sortable: true, halign: 'center'},
            {field: 'createBy', title: '创建人', halign: 'center', align: 'center'},
            {field: 'createAt', title: '创建时间', halign: 'center', align: 'center', formatter: 'formatDate'},
            {field: 'updateBy', title: '更新人', halign: 'center', align: 'center', visible: false},
            {field: 'updateAt', title: '更新时间', halign: 'center', align: 'center', formatter: 'formatDate', visible: false},
            {title: '操作', halign: 'center', align: 'center', formatter: 'actionFormatter', events: 'actionEvents', clickToSelect: false},
        ]
    }).on('all.bs.table', function (e, name, args) {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>