<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间 是必须的 -->
<mapper namespace="com.honeywen.credit.repository.customer.query.CustomerQueryMapper">

    <sql id="customerColumns">
        id,
        name,
        telephone,
        mobile,
        create_by,
        create_at,
        update_by,
        update_at,
        delete_flag
    </sql>

    <select id="findAll" resultType="com.honeywen.credit.model.customer.Customer">
        select
        <include refid="customerColumns"/>
         from t_customer
    </select>

</mapper>